.submit--line {
    position: absolute;
    width: 282px;
    height: 100%;
    top: 25px;
    right: 25px;
}

.submit--line input {
    font-size: 16px;
    color: #ccc;
    width: 100%;
    border: 2px solid #fff;
    background-color: transparent;
    border-radius: 15px;
    padding: 8px 10px;
    outline: 0;
    box-shadow: 0px 1px 6px #ccc;
    cursor: pointer;
}

.submit--line input::-webkit-input-placeholder {
    color: #ccc;
    font-style: bold;
}
@media (max-width: 600px) {
    .submit--line {
        left: 5vw;
        width: 90vw;
    }
    .submit--line input {
        text-align: center;
    }
}
